* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  color: #282828;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  text-decoration: none;
}

.btn.focus,
.btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

button:focus {
  outline: none;
}

.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.section_padding {
  padding: 80px 0;
}

.background_cs {
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
}

.sky_comn_btn {
  padding: 15px 30px;
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  transition: all ease-in-out .5s;
  -webkit-transition: all ease-in-out .5s;
  -moz-transition: all ease-in-out .5s;
  -ms-transition: all ease-in-out .5s;
  -o-transition: all ease-in-out .5s;
  transform: skewX(-22deg) skewY(0deg);
  -webkit-transform: skewX(-22deg) skewY(0deg);
  -moz-transform: skewX(-22deg) skewY(0deg);
  -ms-transform: skewX(-22deg) skewY(0deg);
}

.section_titel {
  position: relative;
  margin-bottom: 40px;
}

.section_titel span {
  text-transform: capitalize;
  font-size: 14px;
  color: #FF7400;
  margin-bottom: 20px;
  font-weight: 700;
}

.section_titel p {
  font-weight: 400;
  font-size: 16px;
  color: #363533;
  max-width: 60%;
  margin: 0 auto;
}

.section_titel h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  color: #282828;
  margin-bottom: 20px;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  color: white;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #FFC100;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.dropdown-menu .dropdown-item:hover {
  color: #fff !important;
  background-color: #FFC100;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.home-nav {
  -webkit-transition: .3s all;
  transition: .3s all;
  overflow: hidden;
}

.home-nav:hover {
  overflow: visible;
}

.home-nav:hover .dropdown-menu {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.dropdown-menu {
  top: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  border: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  transform: translateY(20px);
  transition: .4s;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
}

.dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-left: 0;
  margin-right: 0;
  text-transform: capitalize;
  display: block;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  clear: both;
  color: #FFC100 !important;
  text-align: inherit;
  white-space: nowrap;
}

.dropdown-menu .dropdown-divider {
  height: 0;
  margin: 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.home-nav-caret::after {
  display: inline-block;
  margin-left: 10px;
  vertical-align: 0;
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-weight: 700;
  border: none;
  color: #282828;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  float: none;
}

.active > .nav-link {
  color: #FFC100 !important;
}

/*================================================
Navbar Area CSS
=================================================*/
.header_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.nav-wrapper .custom-nav {
  background: transparent;
  padding: 10px;
}

.nav-wrapper .custom-nav .custom-navbar .nav-item {
  margin: 0 2px;
}

.nav-wrapper .custom-nav .custom-navbar .nav-item a {
  color: #282828;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-wrapper .custom-nav .custom-navbar .nav-item a:hover {
  color: #FFC100;
}

.nav-wrapper .custom-nav .custom-navbar .link {
  padding: 10px 50px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#0077b6), to(#0096c7));
  background: linear-gradient(to right, #0077b6, #0096c7);
  color: #282828 !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-wrapper .custom-nav .custom-navbar .link:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: #000;
}

.menu-shrink {
  position: fixed !important;
  background: #fff !important;
  color: #000000;
  width: 100%;
  padding: 0;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 9999;
  top: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.hero_area {
  position: relative;
  height: 120vh;
  top: 0;
}

.hero_area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 65%;
  background-image: url(../image/hero-bg2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero_area .hero_left {
  position: absolute;
  top: 15%;
  left: 9%;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.hero_area .hero_left h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: capitalize;
  color: #282828;
}

.hero_area .hero_left span {
  text-transform: capitalize;
  font-size: 14px;
  color: #FF7400;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero_area .hero_left p {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  color: #282828;
  margin-bottom: 0px;
  font-family: "Manrope", sans-serif;
}

.hero_area .hero_left p span {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  color: #282828;
  font-style: italic;
}

.hero_area .hero_left .btn {
  margin-top: 40px;
  background: transparent;
  border: 1px solid #282828;
  color: #282828;
}

.hero_area .hero_left .btn:hover {
  background: #282828;
  border: 1px solid transparent;
  color: #fff;
}

.hero_area .hero_right {
  position: absolute;
  top: 19%;
  right: 3%;
  z-index: 9;
}

.hero_area .hero_right .hero_car_img {
  position: relative;
  width: 700px;
}

.hero_area .hero_right .hero_car_img .banner_item_ctn img {
  width: 100%;
  margin: 0 0px 0 0;
  height: 350px;
}

.hero_area .hero_right .hero_car_img .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.hero_area .hero_right .hero_car_img .owl-dots {
  position: absolute;
  bottom: -12%;
  left: 0;
}

.hero_area .hero_right .hero_car_img .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.hero_area .hero_right .hero_car_img .owl-dots .owl-dot.active span {
  background: #FF7400;
  width: 30px;
  height: 10px;
}

.offer_area {
  background: #f5f5f2;
}

.offer_area .offer_box {
  margin-top: 30px;
  background: #fff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  border-radius: 24px;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -moz-transition: .2s all ease;
  -ms-transition: .2s all ease;
}

.offer_area .offer_box .offer_icon i {
  font-size: 40px;
  color: #FFC100;
  transition: .2s all ease;
  -webkit-transition: .2s all ease;
  -moz-transition: .2s all ease;
  -ms-transition: .2s all ease;
}

.offer_area .offer_box .offer_text_content {
  margin-top: 20px;
}

.offer_area .offer_box .offer_text_content .offer_text_titel {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #2e2e2e;
  margin: 0 0 15px 0;
  text-decoration: none;
}

.offer_area .offer_box .offer_text_content .offer_text {
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: #676767;
  margin-top: 10px;
}

.offer_area .offer_box:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.offer_area .offer_box:hover .offer_icon i {
  color: #FF7400;
}

.offer_area .offer_box .offer_box_btn {
  text-align: right;
}

.offer_area .offer_box .offer_box_btn #findBtn {
  font-size: 14px;
  color: #282828;
  font-style: italic;
  font-weight: 600;
  background: transparent;
  border: 1px solid transparent;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
}

.offer_area .offer_box .offer_box_btn #findBtn:hover {
  color: #FF7400;
}

.service_area .service_box .service_icon {
  margin-bottom: 8px;
}

.service_area .service_box .service_content h4 {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.4;
  text-transform: capitalize;
  color: #282828;
  margin-bottom: 10px;
  font-weight: 600;
}

.service_area .service_box .service_content p {
  color: #444343;
  font-size: 14px;
  margin-bottom: 0;
}

.about_area {
  position: relative;
}

.about_area .section_titel {
  margin-bottom: 20px;
}

.about_area .about_text_content .about_details p {
  margin-bottom: 0;
  font-weight: 500;
}

.about_area .about_text_content .about_details .about_text {
  margin-bottom: 10px;
}

.about_area .about_content {
  position: relative;
}

.about_area .about_content .about_img {
  position: relative;
}

.about_area .about_content .about_img .img_2 {
  position: absolute;
  top: 34%;
  left: 49%;
  animation: splash 4s normal 2.5s forwards infinite ease-in-out;
  -webkit-animation: splash 4s normal 2.5s forwards infinite ease-in-out;
  opacity: 0;
}

.about_area .about_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: #282828;
  z-index: -1;
  border-radius: 10px;
}

@keyframes splash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes splash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.booking_area .bok_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.booking_area .bok_con .booking_img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.booking_area .bok_con .booking_text {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking_area .bok_con .booking_text h3 {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}

.booking_area .bok_con .booking_text p {
  margin-bottom: 10px;
  color: #fff;
}

.booking_area .bok_con .booking_text .call {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
}

.booking_area .bok_con::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: .6;
  width: 100%;
  height: 100%;
}

.benefits_area .ben_mar_bo {
  margin-bottom: 90px;
}

.benefits_area .benefitis_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits_area .benefitis_box .benifit_icon {
  margin-right: 20px;
  background: #fff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;
  width: 72px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}

.benefits_area .benefitis_box .benifit_icon i {
  color: #FF7400;
  font-size: 20px;
}

.benefits_area .benefitis_box .benefits_details h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #282828;
}

.benefits_area .benefitis_box .benefits_details p {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #282828;
  margin-top: 4px;
}

.blog_area .blog_content {
  position: relative;
}

.blog_area .blog_content .blog_img {
  position: relative;
  overflow: hidden;
}

.blog_area .blog_content .blog_img img {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
}

.blog_area .blog_content .blog_text_con {
  position: absolute;
  bottom: -48%;
  left: 23%;
  background: #fff;
  width: 80%;
  padding: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.blog_area .blog_content .blog_text_con h3 a {
  color: #282828;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
}

.blog_area .blog_content .blog_text_con p {
  font-size: 14px;
  color: #282828;
  margin-bottom: 0;
  font-weight: 500;
}

.blog_area .blog_content .blog_text_con .blog_btn .btn {
  margin-top: 15px;
  background: transparent;
  color: #282828;
  padding: 5px 10px;
  font-size: 14px;
}

.blog_area .blog_content .blog_text_con .blog_btn .btn:hover {
  border: 1px solid transparent;
  color: #FF7400;
}

.blog_area .blog_content:hover .blog_img img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

@keyframes blg_ani {
  0% {
    opacity: 0;
    left: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 10%;
  }
}

@-webkit-keyframes blg_ani {
  0% {
    opacity: 0;
    left: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 10%;
  }
}

.contact_area {
  margin-top: 60px;
}

.contact_area .contact_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 450px;
}

.contact_area .contact_content .btn {
  margin-top: 50px;
  background: transparent;
  border: 1px solid #282828;
  color: #282828;
}

.contact_area .contact_content .btn:hover {
  background: #282828;
  border: 1px solid transparent;
  color: #fff;
}

.contact_area .contact_content h3 {
  color: #282828;
  text-decoration: none;
  font-size: 28px;
  line-height: 1.3;
  font-weight: 600;
}

.contact_area .contact_content p {
  color: #282828;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.contact_area .contact_content .call {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
}

.contact_area .contact_content .contact_rignt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF7400;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
}

.contact_area .contact_content .contact_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 0 40px;
}

.contact_area .contact_content .contact_middle::after {
  position: absolute;
  content: '';
  background: #FFC100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .9;
  z-index: -1;
}

.contact_area .contact_content .contact_left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
  background-position: center right;
}

.contact_area .contact_content .contact_left p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #282828;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}

.contact_area .contact_content .contact_left p i {
  font-size: 30px;
  color: #FF7400;
  margin-right: 10px;
}

.contact_area .contact_content .contact_left p a {
  color: #282828;
  font-weight: 600;
}

.copyright_area {
  border-top: 1px solid #4d4d4d;
  background: #282828;
  padding: 20px 0;
}

.copyright_area .copyright p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 0;
}

.copyright_area .copyright p a {
  color: #FF7400;
}

.copyright_area .copyright p a:hover {
  color: #FFC100;
}

.inner_banner {
  position: relative;
  height: 350px;
  background-attachment: fixed;
}

.inner_banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  opacity: .7;
}

.inner_banner .inner_ctn {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  right: 0;
}

.inner_banner .inner_ctn .text h1 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}

.inner_banner .inner_ctn .link ul li {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.inner_banner .inner_ctn .link ul li a {
  color: #fff;
}

.inner_banner .inner_ctn .link ul li:hover {
  color: #FFC100;
}

.social_icon ul li a i {
  font-size: 18px;
  color: #282828;
  height: 36px;
  width: 36px;
  background: #FFC100;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  line-height: 2;
  text-align: center;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
}

.social_icon ul li:hover a i {
  background: #FF7400;
  color: #fff;
}

.about_page_detail .about_left .about_img {
  position: relative;
}

.about_page_detail .about_left .about_img .overly_content {
  position: absolute;
  position: absolute;
  top: 4%;
  right: 3%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc100), to(#ffbb1b));
  background: linear-gradient(180deg, #ffc100, #ffbb1b);
  height: 42%;
  width: 30%;
  border-radius: 50%;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.about_page_detail .about_left .about_img .overly_content p {
  padding: 40px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.about_page_detail .about_left .about_img .overly_content p span {
  font-size: 24px;
}

.about_page_detail .about_right .about_details p {
  margin-bottom: 0;
  font-weight: 500;
}

.about_page_detail .about_right .about_details .about_text {
  margin-bottom: 10px;
}

.call_area {
  background: #FFC100;
}

.call_area .call_content h2 {
  font-size: 40px;
  font-weight: 600;
}

.address_area {
  background: #161616;
}

.address_area .box_1 {
  border-right: 1px solid #fff;
}

.address_area .box_2 {
  border-right: 1px solid #fff;
}

.address_area .box_2 ul li {
  margin-right: 10px;
}

.address_area .box_2 ul li:last-child {
  margin-right: 0;
}

.address_area .box_3 ul li a {
  color: #fff;
}

.address_area .box_3 ul li a:hover {
  color: #FF7400;
}

.address_area .address_box h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.address_area .address_box address {
  color: #fff;
}

.contact_page_content .btn {
  margin-top: 40px;
  background: transparent;
  border: 1px solid #282828;
  color: #282828;
  padding: 6px 20px;
}

.contact_page_content .btn:hover {
  background: #282828;
  border: 1px solid transparent;
  color: #fff;
}

.contact_page_content .contact_details_left .contact_open_titel {
  margin-bottom: 20px;
}

.contact_page_content .contact_details_left .contact_open_titel h3 {
  font-size: 24px;
  color: #FF7400;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.contact_page_content .contact_details_left .contact_open_titel h3 span {
  color: #282828;
  font-size: 30px;
  font-style: italic;
}

.contact_page_content .contact_details_left .contact_open_titel p {
  font-weight: 500;
}

.contact_page_content .contact_details_left .contact_info {
  margin-bottom: 30px;
}

.contact_page_content .contact_details_left .contact_info ul li {
  margin-bottom: 20px;
}

.contact_page_content .contact_details_left .contact_info ul li:last-child {
  margin-bottom: 0;
}

.contact_page_content .contact_details_left .contact_info ul li a {
  color: #282828;
  font-weight: 700;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_page_content .contact_details_left .contact_info ul li a i {
  color: #FF7400;
  font-size: 20px;
  margin-right: 15px;
}

.contact_page_content .contact_form_right {
  background: #f5f5f5;
  padding: 30px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
}

.contact_page_content .contact_form_right .form_titel {
  margin-bottom: 30px;
}

.contact_page_content .contact_form_right .form_titel h2 {
  font-size: 30px;
  font-weight: 700;
  color: #282828;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
}

.contact_page_content .contact_form_right form .form_box {
  margin-bottom: 20px;
}

.contact_page_content .contact_form_right form .form_box label {
  font-weight: bold;
  font-size: 18px;
  color: #282828;
  text-transform: capitalize;
}

.contact_page_content .contact_form_right form .form_box .condition_label {
  font-size: 12px;
}

.contact_page_content .contact_form_right form .form_box input::-webkit-input-placeholder,
.contact_page_content .contact_form_right form .form_box textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #282828;
}

.contact_page_content .contact_form_right form .form_box input:-ms-input-placeholder,
.contact_page_content .contact_form_right form .form_box textarea:-ms-input-placeholder {
  font-size: 16px;
  color: #282828;
}

.contact_page_content .contact_form_right form .form_box input::-ms-input-placeholder,
.contact_page_content .contact_form_right form .form_box textarea::-ms-input-placeholder {
  font-size: 16px;
  color: #282828;
}

.contact_page_content .contact_form_right form .form_box input::placeholder,
.contact_page_content .contact_form_right form .form_box textarea::placeholder {
  font-size: 16px;
  color: #282828;
}

.contact_page_content .contact_form_right form .submit_btn .btn {
  margin-top: 15px;
}

.service_page_content {
  position: relative;
}

.service_page_content .ser_content_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.service_page_content .ser_content_box .ser_icon {
  margin-right: 20px;
}

.service_page_content .ser_content_box .ser_icon i {
  font-size: 40px;
  color: #fff;
}

.service_page_content .ser_content_box .ser_text_content h4 {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.service_page_content .ser_content_box .ser_text_content p {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.service_page_content::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FF7400D9;
}

.booking_page_box .btn {
  margin-top: 30px;
  background: transparent;
  border: 1px solid #FF7400;
  color: #FF7400;
  padding: 6px 20px;
}

.booking_page_box .btn:hover {
  background: #FF7400;
  border: 1px solid transparent;
  color: #fff;
}

.booking_page_box .book_box_con {
  -webkit-box-shadow: 0px 4px 18px 0 rgba(176, 173, 173, 0.3);
          box-shadow: 0px 4px 18px 0 rgba(176, 173, 173, 0.3);
  background: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  padding: 30px 20px;
}

.booking_page_box .book_box_con .bok_con_box .form-group label {
  font-size: 14px;
  font-weight: 600;
  color: #282828;
  text-transform: capitalize;
  margin-bottom: 7px;
}

.booking_page_box .book_box_con .bok_con_box .form-group input {
  border: 1px solid #FF7400;
  height: 50px;
}

.booking_page_box .book_box_con .bok_con_box .form-group input::-webkit-input-placeholder {
  font-size: 14px;
  color: #282828;
}

.booking_page_box .book_box_con .bok_con_box .form-group input:-ms-input-placeholder {
  font-size: 14px;
  color: #282828;
}

.booking_page_box .book_box_con .bok_con_box .form-group input::-ms-input-placeholder {
  font-size: 14px;
  color: #282828;
}

.booking_page_box .book_box_con .bok_con_box .form-group input::placeholder {
  font-size: 14px;
  color: #282828;
}

.booking_page_box .book_box_con .bok_con_box .form-group input:focus {
  border: 1px solid #FF7400;
}
/*# sourceMappingURL=style.css.map */